# Consigue estos valores en el dashboard de Supabase (Project Settings > API)
SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_URL=https://your-project-id.supabase.co

SUPABASE_SERVICE_ROLE_KEY=your-secret-key-here
VITE_SUPABASE_ANON_KEY=your-anon-key

VITE_ENABLE_DEV_BYPASS=true
VITE_DEV_BYPASS_EMAIL=test@example.com
VITE_DEV_BYPASS_PASSWORD=123456


# Server Configuration
PORT=3000
JWT_SECRET=your-random-secret-string