:root {
    --bgMain: #f5f5f5;
    --bgSidebar: #ffffff;
    --accent: var(--color-mahindra-red);
    --text: #2b2b2b;
    --border: #e0e0e0;
  }
  
  body {
    margin: 0;
    background: var(--bgMain);
    font-family: sans-serif;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background: var(--bgSidebar);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    z-index: 30;
  }
  
  .headerMain {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  
  .header img {
    height: 40px;
  }
  
  .header span {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
  }
  
  /* SIDEBAR */
  .sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    width: 60px;
    height: calc(100% - 55px);
    background: var(--bgSidebar);
    border-right: 1px solid var(--border);
    overflow: hidden;
    transition: width 0.25s ease;
    z-index: 20;
  }
  
  .sidebar:hover {
    width: 250px;
    box-shadow: 4px 0 15px rgba(0,0,0,0.15);
  }
  
  /* MENU */
  .menu {
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }
  
  .menuItem {
    margin: 5px 0;
  }
  
  .menuItem a {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--text);
    transition: background 0.2s;
  }
  
  .menuItem a:hover {
    background: #f0f0f0;
    color: var(--accent)
  }
  
  .menuItem a:hover .icon {
    color: var(--accent);
  }
  
  /* ICONOS (FIJOS) */
  .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: var(--text);
  }
  
  /* TEXTO (aparece sin mover icono) */
  .menuItem span {
    margin-left: 12px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.2s ease;
  }
  
  .sidebar:hover .menuItem span {
    opacity: 1;
  }
  
  /* OVERLAY */
  .overlay {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: calc(100% - 55px);
    background: rgba(0,0,0,0.25);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
  }
  
  .sidebar:hover ~ .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  
  /* CONTENT */
  .content {
    margin-left: 65px;
    margin-top: 35px;
    padding: 20px;
  }