:root{
    --bodyColor: #9f9f9fe6;
    --sidebarColor: #f7e4e4;
}

body {
    background: var(--bodyColor);
}

.Sidebar label{
    font-family: sans-serif;
    font-size: larger;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 50px;
    width: 100%;
    background: var(--sidebarColor);
    outline: 2px solid black;
}
.Header .HeaderMain {
    display: flex;
    align-items: center;
}

.Header img {
    height: 50px;
    padding: 0px 10px;
    padding-bottom: 2px;
}
.Header span {
    padding-left: 10px;
    font-size: larger;
}

.Sidebar {
    position: fixed;
    top: 54px;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebarColor);
    padding: 10px 10px;
}

.Sidebar .SidebarImage img {
    width:30px
}

.Sidebar .SidebarHeader {
    display: flex;
    align-items: center;
}

.Sidebar .SidebarHeader .SidebarMainTitle {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.Sidebar .SidebarHeader .SidebarMainTitle .SidebarTitle{
    font-size: 20px;
}

.Sidebar .SidebarHeader .SidebarMainTitle .SidebarSubtitle{
    font-size: 10px;
}